azuresynapseanalyticsworkshopltd/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "azuresynapseanalyticsworkshopltd"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"azuresynapseanalyticsworkshopltd-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'azuresynapseanalyticsworkshopltd-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:azuresynapseanalyticsworkshopltd.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"azuresynapseanalyticsworkshopltd-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azuresynapseanalyticstem.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/apache')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/LoadFilesToADLS')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"description": "Move files from one folder to another folder",
				"activities": [
					{
						"name": "GetFileList",
						"description": "Get the list of file",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Students_DataCSVfiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEachFile",
						"description": "Iterate each file, and move them one by one.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"batchCount": 20,
							"activities": [
								{
									"name": "BlobToSynapseDedicatedPool",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "synapse/Input/item()"
										},
										{
											"name": "Destination",
											"value": "dbo.Table"
										}
									],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": "Input",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlPoolSink",
											"allowCopyCommand": true,
											"copyCommandSettings": {}
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "school",
														"type": "String"
													},
													"sink": {
														"name": "school",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "sex",
														"type": "String"
													},
													"sink": {
														"name": "sex",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "age",
														"type": "String"
													},
													"sink": {
														"name": "age",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "address",
														"type": "String"
													},
													"sink": {
														"name": "address",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "famsize",
														"type": "String"
													},
													"sink": {
														"name": "famsize",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Pstatus",
														"type": "String"
													},
													"sink": {
														"name": "Pstatus",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Medu",
														"type": "String"
													},
													"sink": {
														"name": "Medu",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "Fedu",
														"type": "String"
													},
													"sink": {
														"name": "Fedu",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "Mjob",
														"type": "String"
													},
													"sink": {
														"name": "Mjob",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Fjob",
														"type": "String"
													},
													"sink": {
														"name": "Fjob",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "reason",
														"type": "String"
													},
													"sink": {
														"name": "reason",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "guardian",
														"type": "String"
													},
													"sink": {
														"name": "guardian",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "traveltime",
														"type": "String"
													},
													"sink": {
														"name": "traveltime",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "studytime",
														"type": "String"
													},
													"sink": {
														"name": "studytime",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "failures",
														"type": "String"
													},
													"sink": {
														"name": "failures",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "schoolsup",
														"type": "String"
													},
													"sink": {
														"name": "schoolsup",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "famsup",
														"type": "String"
													},
													"sink": {
														"name": "famsup",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "paid",
														"type": "String"
													},
													"sink": {
														"name": "paid",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "activities",
														"type": "String"
													},
													"sink": {
														"name": "activities",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "nursery",
														"type": "String"
													},
													"sink": {
														"name": "nursery",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "higher",
														"type": "String"
													},
													"sink": {
														"name": "higher",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "internet",
														"type": "String"
													},
													"sink": {
														"name": "internet",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "romantic",
														"type": "String"
													},
													"sink": {
														"name": "romantic",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "famrel",
														"type": "String"
													},
													"sink": {
														"name": "famrel",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "freetime",
														"type": "String"
													},
													"sink": {
														"name": "freetime",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "goout",
														"type": "String"
													},
													"sink": {
														"name": "goout",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "Dalc",
														"type": "String"
													},
													"sink": {
														"name": "Dalc",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "Walc",
														"type": "String"
													},
													"sink": {
														"name": "Walc",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "health",
														"type": "String"
													},
													"sink": {
														"name": "health",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "absences",
														"type": "String"
													},
													"sink": {
														"name": "absences",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "G1",
														"type": "String"
													},
													"sink": {
														"name": "G1",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "G2",
														"type": "String"
													},
													"sink": {
														"name": "G2",
														"type": "Int32"
													}
												},
												{
													"source": {
														"name": "G3",
														"type": "String"
													},
													"sink": {
														"name": "G3",
														"type": "Int32"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "Students_DataCSVfiles",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "SqlPoolTable1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Move Success File",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "BlobToSynapseDedicatedPool",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Students_DataCSVfiles",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DelimitedText1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Move Failure File",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "BlobToSynapseDedicatedPool",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Students_DataCSVfiles",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DelimitedText2",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-13T22:43:34Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/Students_DataCSVfiles')]",
				"[concat(variables('workspaceId'), '/datasets/SqlPoolTable1')]",
				"[concat(variables('workspaceId'), '/datasets/DelimitedText1')]",
				"[concat(variables('workspaceId'), '/datasets/DelimitedText2')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DelimitedText1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azuresynapseanalyticsworkshopltd-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Success",
						"fileSystem": "synapse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/azuresynapseanalyticsworkshopltd-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DelimitedText2')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azuresynapseanalyticsworkshopltd-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Failure",
						"fileSystem": "synapse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/azuresynapseanalyticsworkshopltd-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SqlPoolTable1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [
					{
						"name": "school",
						"type": "varchar"
					},
					{
						"name": "sex",
						"type": "varchar"
					},
					{
						"name": "age",
						"type": "int",
						"precision": 10
					},
					{
						"name": "address",
						"type": "varchar"
					},
					{
						"name": "famsize",
						"type": "varchar"
					},
					{
						"name": "Pstatus",
						"type": "varchar"
					},
					{
						"name": "Medu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fedu",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Mjob",
						"type": "varchar"
					},
					{
						"name": "Fjob",
						"type": "varchar"
					},
					{
						"name": "reason",
						"type": "varchar"
					},
					{
						"name": "guardian",
						"type": "varchar"
					},
					{
						"name": "traveltime",
						"type": "int",
						"precision": 10
					},
					{
						"name": "studytime",
						"type": "int",
						"precision": 10
					},
					{
						"name": "failures",
						"type": "int",
						"precision": 10
					},
					{
						"name": "schoolsup",
						"type": "varchar"
					},
					{
						"name": "famsup",
						"type": "varchar"
					},
					{
						"name": "paid",
						"type": "varchar"
					},
					{
						"name": "activities",
						"type": "varchar"
					},
					{
						"name": "nursery",
						"type": "varchar"
					},
					{
						"name": "higher",
						"type": "varchar"
					},
					{
						"name": "internet",
						"type": "varchar"
					},
					{
						"name": "romantic",
						"type": "varchar"
					},
					{
						"name": "famrel",
						"type": "int",
						"precision": 10
					},
					{
						"name": "freetime",
						"type": "int",
						"precision": 10
					},
					{
						"name": "goout",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Dalc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Walc",
						"type": "int",
						"precision": 10
					},
					{
						"name": "health",
						"type": "int",
						"precision": 10
					},
					{
						"name": "absences",
						"type": "int",
						"precision": 10
					},
					{
						"name": "G1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "G2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "G3",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Table"
				},
				"sqlPool": {
					"referenceName": "dedicatedsqlpoolltd",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/dedicatedsqlpoolltd')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Students_DataCSVfiles')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azuresynapseanalyticsworkshopltd-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "*.csv",
						"folderPath": "Input",
						"fileSystem": "synapse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\"",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "school",
						"type": "String"
					},
					{
						"name": "sex",
						"type": "String"
					},
					{
						"name": "age",
						"type": "String"
					},
					{
						"name": "address",
						"type": "String"
					},
					{
						"name": "famsize",
						"type": "String"
					},
					{
						"name": "Pstatus",
						"type": "String"
					},
					{
						"name": "Medu",
						"type": "String"
					},
					{
						"name": "Fedu",
						"type": "String"
					},
					{
						"name": "Mjob",
						"type": "String"
					},
					{
						"name": "Fjob",
						"type": "String"
					},
					{
						"name": "reason",
						"type": "String"
					},
					{
						"name": "guardian",
						"type": "String"
					},
					{
						"name": "traveltime",
						"type": "String"
					},
					{
						"name": "studytime",
						"type": "String"
					},
					{
						"name": "failures",
						"type": "String"
					},
					{
						"name": "schoolsup",
						"type": "String"
					},
					{
						"name": "famsup",
						"type": "String"
					},
					{
						"name": "paid",
						"type": "String"
					},
					{
						"name": "activities",
						"type": "String"
					},
					{
						"name": "nursery",
						"type": "String"
					},
					{
						"name": "higher",
						"type": "String"
					},
					{
						"name": "internet",
						"type": "String"
					},
					{
						"name": "romantic",
						"type": "String"
					},
					{
						"name": "famrel",
						"type": "String"
					},
					{
						"name": "freetime",
						"type": "String"
					},
					{
						"name": "goout",
						"type": "String"
					},
					{
						"name": "Dalc",
						"type": "String"
					},
					{
						"name": "Walc",
						"type": "String"
					},
					{
						"name": "health",
						"type": "String"
					},
					{
						"name": "absences",
						"type": "String"
					},
					{
						"name": "G1",
						"type": "String"
					},
					{
						"name": "G2",
						"type": "String"
					},
					{
						"name": "G3",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/azuresynapseanalyticsworkshopltd-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/azuresynapseanalyticsworkshopltd-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('azuresynapseanalyticsworkshopltd-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/azuresynapseanalyticsworkshopltd-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('azuresynapseanalyticsworkshopltd-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL script 2')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "DROP TABLE [dbo].[Table]\nCREATE TABLE [dbo].[Table]\n(\n   school     VARCHAR(2)\n  ,sex        VARCHAR(1)\n  ,age        INTEGER \n  ,address    VARCHAR(1)\n  ,famsize    VARCHAR(3)\n  ,Pstatus    VARCHAR(1)\n  ,Medu       INTEGER \n  ,Fedu       INTEGER \n  ,Mjob       VARCHAR(8)\n  ,Fjob       VARCHAR(8)\n  ,reason     VARCHAR(10)\n  ,guardian   VARCHAR(6)\n  ,traveltime INTEGER \n  ,studytime  INTEGER \n  ,failures   INTEGER \n  ,schoolsup  VARCHAR(3)\n  ,famsup     VARCHAR(3)\n  ,paid       VARCHAR(3)\n  ,activities VARCHAR(3)\n  ,nursery    VARCHAR(3)\n  ,higher     VARCHAR(3)\n  ,internet   VARCHAR(3)\n  ,romantic   VARCHAR(3)\n  ,famrel     INTEGER \n  ,freetime   INTEGER \n  ,goout      INTEGER \n  ,Dalc       INTEGER \n  ,Walc       INTEGER \n  ,health     INTEGER \n  ,absences   INTEGER \n  ,G1         INTEGER \n  ,G2         INTEGER \n  ,G3         INTEGER \n)\nWITH\n(\n    DISTRIBUTION = HASH (school),\n    CLUSTERED COLUMNSTORE INDEX\n)\nGO\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "dedicatedsqlpoolltd",
						"poolName": "dedicatedsqlpoolltd"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/apache')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": true,
					"maxNodeCount": 10,
					"minNodeCount": 3
				},
				"nodeCount": 10,
				"nodeSize": "Small",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.4",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": false,
				"annotations": []
			},
			"dependsOn": [],
			"location": "eastus"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/dedicatedsqlpoolltd')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"collation": "SQL_Latin1_General_CP1_CI_AS",
				"maxSizeBytes": 263882790666240,
				"annotations": []
			},
			"dependsOn": [],
			"location": "eastus"
		}
	]
}